/1.jpg
/1.mp3
/1.png
/2.jpg
/222.html
/3.jpg
/4.png
/a.css
/audio.html
/b.css
/border.html
/boxmodel.html
/flex.html
/form.html
/html
/htmlwithcss.html
/image.html
/index.html
/lab exam
/lab6.html
/lab62.html
/lab63.html
/lab64.html
/lab65.html
/lab66.html
/lab67.html
/lab68.html
/LAB69.HTML
/padding.html
/php.html
/pseudoclass.html
/pseudoclass2.html
/pseudoclass3.html
/pseudoclass4root.html
/pseudoclassnew.html
/TYPEOFCSSSELECTER.HTML
/websitelayout.html